---
layout: base
title: Home
---

{% assign retos = site.html | concat: site.css | concat: site.js %}

<div class="grid">
    {% for item in retos %}
    <a class="grid-item grid-item--{{ item.collection }}" href="{{ item.url | relative_url }}">
        <div class="grid-icon">
            {% if item.svg %}
            {% include {{ item.svg }} %}
            {% endif %}
        </div>
        <span class="grid-label">{{ item.title }}</span>
    </a>
    {% endfor %}
</div>


<style>
    .grid {
        margin: 3rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
    }

    .grid-icon {
        width: 85px;
        height: 85px;
    }

    .grid-icon svg {
        width: 100%;
        height: 100%;
        stroke: currentColor;
        fill: none;
    }

    .grid-label {
        --lines: 1;
        display: -webkit-box;
        -webkit-line-clamp: var(--lines);
        -webkit-box-orient: vertical;
        overflow: hidden;
    }


    .grid-item--html {
        color: #d14334;
    }

    .grid-item--css {
        color: #355adf;
    }

    .grid-item--js {
        color: #e3b505;
    }



    .grid-item:hover::before {
        transform: translateY(-2px);
    }

    .grid-item::before {
        transition: transform .15s ease;
    }
</style>