* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --wood-dark: #bcbcbc;
  --wood-medium: #bcb2b2;
  --paper-grain: rgba(0, 0, 0, 0.02);
    /* Simulación de madera con degradados superpuestos */
  background: 
    radial-gradient(circle at 10% 10%, rgba(255,255,255,0.05) 0%, transparent 40%),
    linear-gradient(135deg, var(--wood-medium) 0%, var(--wood-dark) 100%);
  background-color: var(--wood-dark);
  
  background-image: url("#{$asset-path}/dark-leather.png"); 
  @include xxl {
    padding: 1% 15%;
  }
  @include xxxl {
    padding: 1% 16%;
  }

}
body {
  font-family: $font-family-base;
  background-color: #fdfcf8; // papel cálido
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("#{$asset-path}/grid.png");
  background-repeat: repeat;
  background-size: auto;
  color: #2b2b2b;
  font-size: $font-size-base;
  padding-bottom: 30px;
  @include xl {
    font-size: $font-size-base-xl;
  }
  @include xxl {
    font-size: $font-size-base-xxl;
  }
  @include xxxl {
    font-size: $font-size-base-xxxl;
    border-radius: 0 0 3px 6px;
  }
  box-shadow: 
    0 1px 2px rgba(0,0,0, 1), 
    0 4px 8px rgba(0,0,0, 0.5),
    0 10px 20px rgba(0,0,0,0.04);

  border: 1px solid rgba(0,0,0,0.03);
}

// MAIN CONTENT
main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 2px;
    background-color: rgba(220, 80, 80, 0.35);
  }
  @include xl {
    max-width: 900px;
    padding: 0 .5rem;
  }
  @include xxl {
    max-width: 950px;
    padding: 0 1rem;
  }
  @include xxxl {
    max-width: 1100px;
    padding: 0 1.5rem;
  }
}