div.highlighter-rouge {
  position: relative;
  margin: 3rem 0;
  z-index: 2;
  background: #fffef8;
  padding: 2.3rem 1.8rem 0.8rem 1.8rem;
  line-height: 1.6rem;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.028) 1px,
      transparent 1px);
  background-size: 100% 1.6em;
  border-radius: 2px;

  box-shadow:
    /* presión interna */
    inset 0 1px 0 rgba(0, 0, 0, 0.08),
    inset 0 -1px 2px rgba(0, 0, 0, 0.14),
    /* contacto seco con el fondo */
    0 1px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px #0002,
    2px 0 1px #0001,
    0 -1px 1px #0001,
    -1px 0 1px #0002;
  transform: rotate(-0.25deg);

  &::before {
    content: attr(file); // Muestra el nombre cuando usamos {:file}
    position: absolute;
    text-align: center;
    font-weight: bolder;
    top: -14px;
    left: 40px;

    width: 130px;
    height: 28px;

    background: #f0e08a; // wincha opaca

    border-radius: 2px 3px 2px 3px;
    transform: rotate(-4deg);

    z-index: 5;
  }

  &::before,
  &::after {
    background-image: repeating-linear-gradient(90deg,
        rgba(0, 0, 0, 0.08) 0px,
        rgba(0, 0, 0, 0.08) 1px,
        transparent 1px,
        transparent 4px);
    /* SOMBRA DE CONTACTO (PEGADO) */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 2px 0 rgba(0, 0, 0, 0.12);
  }

  &:not(.language-md)>.highlight>code {
    font-family: $font-family-code;
    font-weight: 700;

    @include xxxl {
      font-size: $code-font-size-xxxl;
      line-height: $code-font-size-xxxl * 1.4;
    }
  }
}

div[class^="language-"] {
  white-space: pre-wrap;

  .highlight {
    transform: rotate(0.3deg);
  }

  .code-header {
    $dot-margin: 1rem;

    &::before {
      content: "";
      display: inline-block;
      margin-left: $dot-margin;
      margin-bottom: $dot-margin - 0.3;
      width: $code-dot-size;
      height: $code-dot-size;
      border-radius: 50%;

      background: radial-gradient(circle at 30% 30%,
          #f5f1ea 0%,
          #e0dbd2 45%,
          #bfb8ad 70%,
          #a9a397 100%);

      box-shadow:
        /* sombra interna del agujero */
        inset 1px 1px 2px rgba(0, 0, 0, 0.35),
        inset -1px -1px 1px rgba(255, 255, 255, 0.6),
        /* segundo agujero */
        ($code-dot-size + $code-dot-gap) 0 0 #d6d1c7,
        ($code-dot-size + $code-dot-gap) 0 0 inset,
        /* tercer agujero */
        ($code-dot-size + $code-dot-gap) * 2 0 0 #d6d1c7;
      filter: contrast(1.05);
    }
  }
}

// MARKDOWN (Enunciados)

// MARKDOWN LANG
div.language-md {
  $h2: 1.5rem;

  * {
    font-weight: normal !important;
    font-family: $font-family-base !important;
  }

  code {
    color: #37456c;
    font-weight: bolder;
  }

  span.gu {
    color: #9f1239;
    display: inline-block;
    margin: 0;
    font-size: $h2;
  }

  span.gs {
    color: #d54770;
  }
  span.p {
    color: #9f1239;
  }
  @include xxxl {
    font-family: $font-size-base-xxxl;
    line-height: $font-size-base-xxxl * 1.25;

    span.gu {
      font-size: $h2 * 1.4;
    }
  }
}

.code-codepen,
.code-copy {
  position: absolute;
  z-index: 5;
  padding: 0.25rem 0.6rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  @include xxxl {
    font-size: 1rem;
  }
}

.code-codepen {
  top: -7px;
  right: 3.5rem;
  background: #37456c;
  transform: rotate(2deg);

}

.code-copy {
  top: -6px;
  right: 14px;

  background: #b03a2e; // tinta roja
  color: #fff;

  font-family: "Patrick Hand", cursive;
  letter-spacing: 0.03em;



  transform: rotate(-3deg);
  opacity: 0.95;
}

/* “tinta corrida” leve */
.code-copy::after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: -3px;
  width: 80%;
  height: 4px;
  background: #922b21;
  opacity: 0.5;
}

/* feedback al copiar */
.code-copy.copied {
  background: #196f3d;
  transform: rotate(-2deg);
}

.highlight .nt {
  color: #1d4ed8;
}

.highlight .na {
  color: #7c2d12;
}

.highlight .s {
  color: #15803d;
}

.highlight .c,
.highlight .c1 {
  color: #6b7280;
  font-style: italic;
}

.highlight .cp,
.highlight .m {
  color: #9f1239;
}