	
%pen-border {
  position: relative;
  --pen-color: currentColor;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid currentColor;
    transform: rotate(-.15deg);
    opacity: 0.7;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 4px;
    border: 2px solid var(--pen-color, #ccc);
    transform: rotate(.3deg);
    opacity: 0.4;
    pointer-events: none;
  }
}

$underline-color: #fdd835; // color tipo marcador
$underline-height: 12px;    // grosor del subrayado
$underline-gap: 5px;        // separación del texto
$underline-angle: -2deg;    // ligera inclinación

%marker {
    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: #{$underline-gap};
    width: 100%;
    height: $underline-height;
    background: linear-gradient(
      to right,
      rgba($underline-color, 0.8) 0%,
      rgba($underline-color, 0.6) 20%,
      rgba($underline-color, 0.9) 40%,
      rgba($underline-color, 0.7) 60%,
      rgba($underline-color, 0.8) 80%,
      rgba($underline-color, 0.6) 100%
    );
    transform: rotate($underline-angle) skewX(-5deg); // inclinación irregular
    border-radius: 4px;
    z-index: -1;
    }
}