@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

$asset-path: "../../assets/images";

$code-font-size: 0.9rem !default;
$code-header-height: 2.25rem !default;
$code-dot-size: 0.75rem !default;
$code-dot-gap: 0.5rem !default;
$code-icon-width: 1.75rem !default;
$code-bg: #9000;

$font-family-base: "Patrick Hand", cursive !default;
$font-family-title: "Walter Turncoat", cursive;
// sizes
$font-size-main-heading: 2.8rem;
$font-size-base: 1.2rem !default;
$font-size-base-xl: 1.3rem;
$font-size-base-xxl: 1.45rem;
$font-size-base-xxxl: 1.6rem;
// syntax sizes
$code-font-size-xxl: 1.5rem;
$code-font-size-xxxl: 1.6rem;

$code-dot-size: 0.95rem;
$code-dot-gap: 0.6rem;
$font-family-code: "Bad Script", cursive;

// Tamaños iconos
$icon-menu-size-xxl: 2.5rem;
$icon-menu-size-xxxl: 5rem;

$font-family-base: "Metrophobic", sans-serif !default;
$font-family-heading: ui-sans-serif, "Microsoft Yahei", sans-serif !default;
