---
layout: base
---

{{ content }}

<ul class="collection-list">
  {% assign items = site[page.collection] %}
  {% for item in items %}
  {% assign num = forloop.index | prepend: "0" | slice: -2, 2 %}
  <li class="item-wrapper item-{{ page.collection }}" num="{{ num }}">
    <h3 class="item-heading-{{ page.collection }}">
      <a href={{ item.url | relative_url }} class="nav-link">
        {{ item.title }}
      </a>
    </h3>
    <div class="item-body">
      {{ item.description | markdownify | truncate: 150 }}
    </div>
    <div class="item-footer">
      {% if item.svg %}
      {% include {{ item.svg }} %}
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
